@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

a {
    color: white;
    text-decoration: none;
    cursor: none;
}

a:hover, a:focus {
    color: #ddd;
    scale: 1.1;
    box-shadow: #FC0 1px 0 20px;
}

.mf-cursor {
    color: white;
}

.mf-cursor .mf-cursor-text {
    color: black;
    font-size: 15px;
    font-weight: 900;
}

body {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative; 
    flex-direction: column;
    background-color: #232220;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 60vw; /* Adjust max-width as needed */
    height: 70vh; /* Adjust height as needed */
    margin: 0 auto;
    overflow: hidden;
}

.carousel:hover {
    scale: 1.05;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-item.active {
    opacity: 1;
    z-index: 1;
}

.carousel-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; /* Adjust right padding to prevent text from being cut off */
    color: #fff;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 18px; /* Adjust font size as needed */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 3;
    font-size: 24px;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.carousel-control.prev {
    left: 10px; /* Adjust left position */
}

.carousel-control.next {
    right: 10px; /* Adjust right position */
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8); /* Darken on hover */
}

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    position: absolute;
    margin: 0 auto; /* Center horizontally */
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    bottom: 40px;
}

nav {
    justify-content: center;
}

nav #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: centerLogo 2s;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    width: 14px; 
    padding: 10px;  
    transition: transform 0.5s;
    animation: fade-in 2s;
}

@keyframes centerLogo {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        height: 40vh;
    }

    .carousel-text {
        font-size: 12px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }

    .carousel-control {
        font-size: 16px;
    }

    nav {
        bottom: 10px;
    }
}
