@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik+Doodle+Shadow&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header #home {
    text-decoration: none;
    cursor: pointer;
    font-size: 2em;
    color: #cba328;
    width: fit-content;
    font-weight: bold;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

header a {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}

header ul {
    display: flex;
    list-style: none;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}

header a:hover,
#about a:hover {
    color: #ffe601fa;
    text-shadow: #000000 0px 0px;
}

#intro {
    margin: 0;
    font-size: 4em;
    font-family: 'Rubik Doodle Shadow', cursive;
    height: 90vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#intro p{
    width: fit-content;
    border-right: 5px solid;
    height: 8vh;
    animation: 
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
   50%{
         border-color: transparent;
   }
}

#intro a {
    text-decoration: none;
}

#myName {
    padding-left: 10px;
    width: fit-content;
    text-decoration: none;
}

#myName:hover {
    transition: 200ms;
    color: #ffe601fa;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-shadow: #000000 0px 0px;
}

#home {
    display: flex;
    flex-wrap: wrap;
}

#about {
    display: flex;
    flex-direction: column;
    background-image: url(/about.gif);
    background-size:cover;
    background-blend-mode: overlay;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px 0;
    font-size: 1.5em;
}

#aboutInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.412);
    height: auto;
    width: 70%;
    padding: 20px 0;
    font-size: 1.5em;
    border-radius: 10px;
}

#about img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10%;
    border: black 10px solid;
    margin: 20px;
}

#about p{
    color: white;
    text-shadow: #000000 0px 0px;   
}

#ready{
    padding: 2px;
    background-color: black;
    border-radius: 10px;
}

#special{
    padding: 2px;
    background-color: gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    font-family: 'Rubik Doodle Shadow', sans-serif;
    border-radius: 10px;
}

#about #university {
    margin: 0;
    color: #ffe601fa;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

#about a {
    padding: 20px;
    background-color: goldenrod;
    border-radius: 50%;
}

#me a{
    padding: 5px;
    border-radius: 0;
    color: black;
    font-size: 20px;
}

#projects {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tags {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    font-size: 0.8em;
}

.project-card h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5em;
    color: #3498db;
}

.project-card p {
    text-align:var();
    padding: 10px;
    margin: 0;
    color: #000;
}

.project-card .btn {
    margin-top: auto; /* Push the button to the bottom */
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
}

.project-card .btn:hover {
    background-color: #2980b9;
}

footer {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin:0;
}

footer p{
    margin: 0;
    padding: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    width: 70%;
}

#contact h2 {
    display: block;
    margin-bottom: 8px;
    font-size: 30px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
    font-size: 30px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries for smaller screens */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header #home {
        font-size: 2.5em;
    }

    header a {
        font-size: 1em;
    }

    #intro {
        font-size: 2em;
        height: 20vh;
        text-align: center;
        width: 100%;
    }

    #intro p{
        width: fit-content;
        height: 5vh;
        border:none; 
    }

    #about{
        width: 100%;
    }

    #about img {
        max-width: 80%;
    }

    #projects{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }


    .project-card{
        width: 100%;
    }

    #aboutInfo {
        font-size: 0.7em;
        flex-direction: column;
        text-align: center;
    }

    form {
        width: 80%;
        height: 70%;
    }

    #contact {
        height: 100%;
        width: 100%;
    }

    footer {
        margin-top: 10px;
        width: 100%;
    }
}
